body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #242424;
    color: white;
}

.bx {
    width: 40px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.box {
    background-color: aqua;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 300px;
}

.box img.game {
    width: 240px;
}

.box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.box a {
    text-decoration: none;
    margin: 0;
    font-size: 16px;
    color: #000000;
    font-size: 47px;
    font-weight: 700;
}

.box:hover {
    transform: translateY(-10px);
}